<div class="content container mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-5">{{title}}</h1>
        </div>
        <div class="col-12 mx-auto mb-5">
            <strong>Disclaimer</strong>: Für diese Software wird keine Garantie oder Gewährleistung übernommen. Bitte befolge und respektiere alle gesetzliche Vorgaben zum Thema Giveaway Aktionen und die TOS- und Community-Richtlinien auf twitch.tv oder anderen Streaming Plattformen. Benutzung auf eigene Gefahr!
        </div>
        <div class="col-12 mx-auto mb-3">
            <p><strong>StreamLottery</strong> ist ein Tool, das entwickelt wurde da es noch kein vergleichbares <strong>kostenloses Tool</strong> für Streamer gab. Es gibt zwar einige Bots für Twitch, die eine Giveway Aktion ermöglichen, aber StreamLottery ist mehr. StreamLottery integriert sich direkt in deine Streaming Software (OBS, XSplit, ...) und wertet die Giveway Aktion durch ansprechende Animationen auf.</p>
            <p>
                Dazu gibt es <strong>drei Widgets</strong>, die du in deine Streaming Software integrieren kannst:
                <ul>
                    <li>Darstellung des Inhalts einer Giveaway Aktion (Titel, Produktbild, Beschreibung, ...)</li>
                    <li>Animation bei neuem Teilnehmer an der Giveaway Aktion (Name, Nachricht, Sound, ...)</li>
                    <li>Animation wenn ein Gewinner für die Giveaway Aktion ermittelt wird (Name, Nachricht, Animiertes Bild, Sound, ...)</li>
                </ul>
                Natürlich ist das Aussehen und Verhalten aller Widgets konfigurierbar.
            </p>
        </div>
        <div class="col-12 mx-auto mb-3">
            <video src="/videos/preview-video.mp4" class="w-100" muted="muted" autoplay="autoplay" loop="loop"></video>
        </div>
        <div class="col-12 mx-auto mb-5">
            <p>Für die Nerds unter euch: StreamLottery wurde mit dem Express Framework für node.js von Marc Schieferdecker (Let's Shoot) geschrieben. Er ist selbst Streamer, hat es im Grunde für seinen Stream entwickelt und teilt diese Software nun kostenlos mit euch. Ideen für die Weiterentwicklung des Tools sind jederzeit willkommen!</p>
        </div>
    </div>
</div>