<p><strong>New password at StreamLottery</strong></p>
<p>You requested a new password for your account at StreamLottery.</p>
<p>Your new password is:</p>
<p>{{password}}</p>
<p>You can now log in to your account with the new password.</p>
<p>Please go to your account settings and change your password to a new one that you prefer.</p>