<p><strong>Dein neues Kennwort bei StreamLottery</strong></p>
<p>Du hast ein neues Kennwort für deinen Account bei StreamLottery angefordert.</p>
<p>Dein neues Kennwort lautet:</p>
<p>{{password}}</p>
<p>Du kannst dich mit diesem Kennwort nun anmelden.</p>
<p>Bitte gehe danach in deine Account-Einstellungen und setze ein individuelles Kennwort.</p>