<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A lottery tool for streamers.">
    <meta name="author" content="Marc Schieferdecker / Let's Shoot">
    <link rel="icon" href="/favicon.png" type="image/png">

    <title>{{title}}</title>

    <!-- Libs CSS -->
    <link href="/lib/css/libs.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/public.min.css" rel="stylesheet">
</head>

<body style="background-color: transparent; overflow: hidden;">

<div class="maincontent">{{{body}}}</div>

<!-- Bootstrap + jQuery -->
<script src="/lib/js/libs.min.js"></script>
<script src="/javascripts/public.js"></script>
<script>
    $(document).ready(()=>{
        console.log('document ready');
    });
</script>
</body>
</html>