<div class="content container mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-5">{{title}}</h1>
        </div>
        <div class="col-12 mx-auto mb-5">
            <strong>Disclaimer</strong>: This software is provided with no warranty or guarantee. Please follow and respect all laws about giveaway actions and TOS and Community Guidelines outlined at twitch.tv. Use at your own risk!
        </div>
        <div class="col-12 mx-auto mb-3">
            <p><strong>StreamLottery</strong> is a tool that was developed because there was no comparable <strong>free tool</strong> for streamers. While there are some bots for Twitch that allow a giveway action, StreamLottery is more. StreamLottery integrates directly into your streaming software (OBS, XSplit, ...) and enhances the Giveway action with appealing animations.</p>
            <p>
                There are <strong>three widgets</strong> that you can integrate into your streaming software:
                <ul>
                    <li>Presentation of the content of a giveaway action (title, product image, description, ...)</li>
                    <li>Animation with new participant in the giveaway action (name, message, sound, ...)</li>
                    <li>Animation when a winner for the Giveaway action is determined (name, message, animated picture, sound, ...)</li>
                </ul>
                Of course, the look and feel of all widgets is configurable.
            </p>
        </div>
        <div class="col-12 mx-auto mb-3">
            <video src="/videos/preview-video.mp4" class="w-100" autoplay="autoplay" loop="loop"></video>
        </div>
        <div class="col-12 mx-auto mb-5">
            <p>For the nerds among you: StreamLottery was written with the Express Framework for node.js by Marc Schieferdecker (Let's Shoot). He's a streamer himself, basically developed it for his stream, and shares this software with you for free. Ideas for the further development of the tool are always welcome!</p>
        </div>
    </div>
</div>