<div class="content container mt-5 mb-5">
    <div class="row">
        <div class="col-12"><h2>{{title}}</h2></div>
        <div class="col-12 mx-auto mb-3">
            <p>In the following, we will inform you in accordance with the legal requirements of data protection law (especially according to BDSG nF and the European General Data Protection Regulation "GDPR") about the nature, scope and purpose of the processing of personal data by our company. This Privacy Policy also applies to our websites and social media profiles. With regard to the definition of terms such as "personal data" or "processing", we refer to Art. 4 GDPR.</p>
            <strong>Name and contact details of the responsible person(s)</strong><br />
            Our responsible person (hereinafter referred to as "responsible person") in the sense of Art. 4 Zif. 7 GDPR is:<br />
            <br />Marc Schieferdecker<br />Steinstraße 54<br />41372 Niederkrüchten, Germany<br />Email address: m_schieferdecker@outlook.com<br /><br /><strong>Types of data, purposes of processing and categories of data subjects</strong><br />
            <p>Below we inform you about the nature, scope and purpose of the collection, processing and use of personal data.</p>
            <strong>1. Types of data we process</strong><br />Usage data (access times, websites visited, etc.), inventory data (name, address, etc.), contact details (telephone number, e-mail, fax, etc.), content data (text input, videos, photos, etc.), communication data (IP address, etc.). ),<br />
            <br />
            <strong>2. Purposes of processing according to Art. 13, para. 1 c) GDPR</strong><br />Optimizing and statistically evaluating our services, improving the user experience, making the Website user-friendly, marketing / sales / advertising, compiling statistics, avoiding SPAM and abuse, ensuring uninterrupted, secure operation of our website,<br />
            <br />
            <strong>3. Categories of data subjects according to Art. 13 para. 1 e) GDPR</strong><br />Visitors / users of the website,<br />
            <br />
            <p>The persons concerned are collectively referred to as "users".</p>
            <br />

            <strong>Legal basis for the processing of personal data</strong>
            <p>Below we inform you about the legal bases of the processing of personal data:</p>
            <ol style="margin:10px 0px; padding:15px;">
                <li>If we have obtained your consent to the processing of personal data, Art. 6 para. 1 sentence 1 lit. a) GDPR Legal basis.</li>
                <li>If the processing is necessary to fulfill a contract or to carry out pre-contractual measures, which are carried out at your request, then Art. 6 para. 1 sentence 1 lit. b) GDPR Legal basis.</li>
                <li>If the processing is required to fulfill a legal obligation that we are subject to (eg statutory retention requirements), then Art. 6 para. 1 sentence 1 lit. c) GDPR Legal basis.</li>
                <li>If processing is necessary to protect the vital interests of the data subject or of another natural person, Art. 6 (1) sentence 1 lit. d) GDPR Legal basis.</li>
                <li>If the processing is necessary to safeguard our or the legitimate interests of a third party and your interests or fundamental rights and freedoms do not predominate in this regard, then Art. 6 para. 1 sentence 1 lit. f) GDPR Legal basis.                <li>Wenn wir Ihre Einwilligung für die Verarbeitung personenbezogenen Daten eingeholt haben, ist Art. 6 Abs. 1 S. 1 lit. a) GDPR Rechtsgrundlage.</li>
            </ol>
            <br />
            <strong>Disclosure of personal data to third parties and processors</strong>
            <p>Without your consent, we generally do not pass on data to third parties. If this is the case, then the disclosure on the basis of the aforementioned legal basis, for example, in the transfer of data to online payment providers to fulfill the contract or by court order or a legal obligation to disclose the data for the purpose of prosecution, to avoid danger or to enforce intellectual property rights.<br />
                We also use processors (external service providers eg for web hosting of our websites and databases) to process your data. If data are passed on to the processor by order processing, this is always done in accordance with Art. 28 of the GDPR. We select our processors carefully, monitor them regularly and have given us the right to give instructions regarding the data. In addition, the processors must have taken appropriate technical and organizational measures and the data protection rules in accordance with Art. Comply with BDSG nF and GDPR.</p>

            <br />
            <strong>Data transmission to third countries</strong>
            <p>The adoption of the basic European data protection regulation (GDPR) has created a uniform basis for data protection in Europe. Your data will therefore be processed primarily by companies for which GDPR applies. If the processing takes place through services of third parties outside the European Union or the European Economic Area, they must fulfill the special requirements of Art. 44 et seq. GDPR. This means that the processing takes place on the basis of special guarantees, such as the official recognition by the EU Commission of a data protection level corresponding to the EU, or the observance of officially recognized special contractual obligations, the so-called "standard contractual clauses". In US companies, submission to the so-called Privacy Shield, the EU-US data protection agreement, meets these requirements.</p>

            <br />
            <strong>Deletion of data and storage duration</strong>
            <p>Unless explicitly stated in this privacy policy, your personal data will be deleted or blocked as soon as the purpose of the storage is omitted, unless their further storage is required for evidence or contrary to legal storage requirements. These include, for example, commercial requirements for the storage of business letters pursuant to Section 257 (1) HGB (6 years) and tax-related retention obligations pursuant to Section 147 (1) AO von Beleg (10 years). If the prescribed retention period expires, your data will be blocked or deleted, unless storage is still required for a contract or fulfillment.</p>

            <br/>
            <strong>Existence of automated decision-making</strong>
            <p>We do not use automatic decision making or profiling.</p>

            <br/>
            <strong>Provision of our website and creation of log files</strong>
            <ol style="margin:10px 0px; padding:15px;">
                <li>If you only use our website for informational purposes (ie no registration and no other transmission of information), we only collect the personal data that your browser transmits to our server. If you wish to view our website, we collect the following data:<br/>
                    • Internet service provider of the user;<br />
                    • Date and time of the call;<br />
                    • browser type;<br />
                    • Language and browser version;<br />
                    • Content of the call;<br />
                    • time zone;<br />
                    • access status / HTTP status code;<br />
                    • amount of data;<br />
                    • Websites from which the request comes;<br />
                    • Operating system.<br />
                    A storage of this data together with other personal data of you does not take place. <br /><br />
                </li>
                <li>This data is for the purpose of the user-friendly, functional and secure delivery of our website to you with functions and content as well as their optimization and statistical evaluation.<br /><br /></li>
                <li>The legal basis for this is our justifiable interest in the processing of data according to Art. 6 para. 1 p. 1 lit. f) GDPR.<br /><br /></li>
                <li>For security reasons, we store this data in server log files for the retention period of 30 days. After this period, they will be automatically deleted, unless we need their storage for evidence in attacks on the server infrastructure or other violations.<br /></li>
            </ol><br/>
            <strong>Cookies</strong>
            <ol style="margin:10px 0px; padding:15px;">
                <li>We use so-called cookies when you visit our website. Cookies are small text files that your Internet browser stores and saves on your computer. When you visit our website again, these cookies provide information to automatically recognize you. The information obtained in this way serves the purpose of optimizing our web offers technically and economically and to allow you easier and safe access to our website. We inform you about this when you visit our website by means of a reference to our privacy policy on the use of cookies for the purposes mentioned above and how you can object to them or prevent their storage ("opt-out"). Our website uses session cookies, persistent cookies and third-party cookies:<br /><br />
                    <strong>• Session cookies:</strong> We use so-called cookies to recognize multiple uses of an offer by the same user (eg, when you have logged in to determine your login status). When you visit our site again, these cookies provide information to automatically recognize you. The information obtained in this way serves to optimize our offers and to give you easier access to our site. If you close the browser or log out, the session cookies will be deleted.<br /><br />
                    <strong>• Persistent cookies:</strong> These are automatically deleted after a specified period, which may differ depending on the cookie. In the security settings of your browser, you can delete the cookies at any time.<br /><br />
                    <strong>• Third party cookies:</strong> You can configure your browser settings to meet your needs. B. Reject the acceptance of third-party cookies or all cookies. However, we would like to point out that you may not be able to use all features of this website. Read more about these cookies in the respective third-party privacy policies.<br /><br />
                </li>
                <li>The legal basis for this processing is Art. 6 para. 1 p. Lit. b) GDPR, if the cookies are used to initiate a contract, eg for orders, and otherwise we have a legitimate interest in the effective functionality of the website, so that in the case of Art. 6 para. 1 sentence 1 lit. f) GDPR is the legal basis.<br /><br /></li>
                <li><strong>Opposition and opt-out:</strong> You can generally prevent the storage of cookies on your hard disk by selecting "Do not accept cookies" in your browser settings. However, this can result in a functional restriction of our offers. You may opt-out of third-party cookies for advertising purposes through this American website (<a href="https://optout.aboutads.info">https://optout.aboutads.info</a>) or this European website (<a href="http://www.youronlinechoices.com/en/praferenzmanagement/">http://www.youronlinechoices.com/en/praferenzmanagement/</a>) contradict.</li>
            </ol><br/>
            <strong>Contact by contact form / email / fax / post</strong>
            <ol style="margin:10px 0px; padding:15px;">
                <li>When contacting us via contact form, fax, mail or e-mail your details will be processed for the purpose of processing the contact request.</li>
                <li>Legal basis for the processing of the data is in the presence of a consent of you Art. 6 para. 1 S. 1 lit. a) GDPR. The legal basis for the processing of data transmitted in the course of a contact request or e-mail, letter or fax is Article 6 (1) sentence 1 lit. f) GDPR. The person in charge has a legitimate interest in the processing and storage of the data in order to be able to answer inquiries from users, to secure evidence for liability reasons and, if necessary, to fulfill his statutory retention requirements for business letters. If the contact is aimed at concluding a contract, then additional legal basis for the processing is Art. 6 para. 1 sentence 1 lit. b) GDPR.</li>
                <li>We can store your details and contact requests in our Customer Relationship Management System ("CRM System") or a comparable system.</li>
                <li>The data will be deleted as soon as it is no longer necessary to achieve the purpose of its collection. For the personal data from the input form of the contact form and those sent by e-mail, this is the case when the conversation with you has ended. The conversation ends when it can be inferred from the circumstances that the matter in question has been finally clarified. Requests from users who have an account or contract with us, we save until the expiration of two years after the contract termination. In the case of legal archiving obligations, the deletion takes place after its expiry: end of commercial law (6 years) and tax law (10 years) retention obligation.</li>
                <li>At any time, you have the option of obtaining consent in accordance with Art. 6 para. 1 sentence 1 lit. a) to revoke the GDPR for the processing of personal data. If you contact us by e-mail, you can object to the storage of personal data at any time.</li>
            </ol><br/>
            <strong>Sweepstakes</strong>
            <ol style="margin:10px 0px; padding:15px;">
                <li>To carry out sweepstakes, the e-mail address is used to establish contact and, in the case of winning, the address data to be able to send the prize. The address data can be forwarded to a dispatcher. Any other transfer of data to third parties will not take place. Participation in the raffle is allowed from 18 years.<br /><br /></li>
                <li>The legal basis is Art. 6 para. 1 sentence 1 lit. b) GDPR.<br /><br /></li>
                <li>The data will be deleted 2 months after the determination of the profit.<br /><br /></li>
            </ol><br/>
            <strong>Amazon Affiliate Program</strong>

            <ol style="margin:10px 0px; padding:15px;">
                <li>We participate in Amazon Affiliate Program (Amazon EU S.à.rl, Amazon Services Europe S.à.rl and Amazon Media EU S.à.rl, all three resident 5, Rue Plaetis, L-2338 Luxembourg), We use ad placement or affiliate links to earn advertising reimbursements when third parties buy something from Amazon. Amazon compiles statistics and records when a partner link was clicked and what was purchased. For this purpose, the data is transmitted to the USA and evaluated there. To track orders, Amazon may set a cookie on your computer. We have no control over the data collected by Amazon and can not say anything about the retention period or the exact scope of the data collection. If you are logged into your Amazon account, Amazon may be able to assign this information to your account. If you do not want this, you must log out of your account. Possibly. Amazon passes your data on to authorities or contractual partners.<br /><br /></li>
                <li>The legal basis for the processing of your data is our legitimate interest in the analysis, optimization and economic operation of our advertising and website in accordance with Art. 6 para. 1 sentence 1 lit. f) GDPR. Amazon is certified under the EU-US Privacy Shield: https://www.privacyshield.gov/EU-US Framework. <br /><br /></li>
                <li>You may object to or prevent the installation of cookies by Amazon in several ways:<br />
                    • You can prevent the cookies in your browser by the setting "do not accept cookies" , which also includes third-party cookies;<br /><br />
                    • You can disable interest-based ads on Amazon through this link: https://www.amazon.de/adprefs;<br /><br />
                    • You can view third-party personalized ads that participate in the About Ads promotional self-help link at https://optout.aboutads.info for US pages or for EU pages at http://www.youronlinechoices.com/de/praferenzmanagement/deactivate, but this setting is only valid until you delete all your cookies.
                    <br /><br />
                </li>
                <li>For more information, see Amazon's Privacy Policy at https://www.amazon.com/gp/help/customer/display.html?nodeId=201909010 and for interest-based advertising here: https://www.amazon.com/gp/help/customer/display.html?nodeId=201151440.<br /><br /></li>
            </ol><br/>
            <strong>Rights of the data subject</strong>

            <ol style="margin:10px 0px; padding:15px;">
                <li><strong>Opposition or revocation against the processing of your data<br /><br />
                    Insofar as the processing is based on your consent pursuant to Art. 6 para. 1 sentence 1 lit. a), Art. 7 GDPR, you have the right to revoke your consent at any time. The lawfulness of the processing on the basis of the consent until the revocation is not affected.<br /><br />
                    As far as we have the processing of your personal data on the balance of interests in accordance with Art. 6 para. 1 p. 1 lit. f) support GDPR, you can object to the processing. This is the case if, in particular, the processing is not required to fulfill a contract with you, which we present in the following description of the functions. In the event of any such disagreement, we ask you to explain the reasons why we should not process your personal data as we have done. In the case of your justified objection, we examine the situation and will either discontinue or adapt the data processing or point out to you our compelling legitimate reasons on which we continue the processing.<br /><br />
                    You may object to the processing of your personal data for advertising and data analysis purposes at any time. The right to object can be exercised free of charge. About your advertising conflict you can inform us under the following contact details:<br /><br />Marc Schieferdecker<br />Steinstraße 54<br />41372 Niederkrüchten, Germany<br />Email: m_schieferdecker@outlook.com<br /></strong>
                    <br /></li>
                <li><strong>Right to information</strong><br />
                    You have the right to ask us for confirmation of your processing of personal information. If this is the case, you have a right to information about your personal data stored by us according to Art. 15 GDPR. This includes, in particular, information about the processing purposes, the category of personal data, the categories of recipients to whom your data was or is being disclosed, the planned storage period, the source of their data, if these were not collected directly from you.<br /><br /></li>
                <li><strong>Right to rectification</strong><br />
                    You have the right to correct inaccurate or complete data according to Art. 16 GDPR.
                    <br /><br />
                </li>
                <li><strong>Right to delete</strong><br />
                    You have a right to deletion of your stored data according to Art. 17 GDPR, unless statutory or contractual retention periods or other legal obligations or rights to further storage are contrary to this.
                    <br /><br />
                </li>
                <li><strong>Right to restriction</strong><br />
                    You have the right to demand a restriction on the processing of your personal data if one of the conditions set out in Art. 18 (1) lit. a) to d) GDPR is fulfilled:<br />
                    • If you deny the accuracy of your personal information for a period of time that enables the controller to verify the accuracy of your personal information;<br/>
                    • the processing is unlawful and you refuse to delete the personal data and instead request the restriction of the use of personal data;<br/>
                    • the controller no longer needs personal information for the purposes of processing, but you need it to assert, exercise or defend legal claims; or<br/>
                    • if you have objected to the processing pursuant to Art. 21 para. 1 GDPR and it is not yet certain whether the legitimate reasons of the person responsible outweigh your reasons.<br/>
                </li>
                <li><strong>Right to data portability</strong><br />
                    You have the right of data transferability according to Art. 20 GDPR, which means that you can receive the personal data stored about us in a structured, common and machine-readable format or you can request the transfer to another person responsible.
                    <br /><br />
                </li>
                <li><strong>Right to appeal</strong><br />
                    You have a right to complain to a regulator. As a rule, you can contact the supervisory authority for this purpose, in particular in the Member State of your place of residence, your job or the location of the alleged infringement.
                    <br /><br />
                </li>
            </ol><br/>
            <strong>Data security</strong>
            <p>In order to protect all personally identifiable information transmitted to us and to ensure compliance with our privacy practices, as well as our external service providers, we have taken appropriate technical and organizational security measures. Therefore, among other things, all data between your browser and our server encrypted over a secure SSL connection.</p>
            <br />

            <br/>
            <strong>As of: 09.06.2019</strong><p>Source: <a href="https://www.juraforum.de/impressum-generator/">Sample privacy policy of JuraForum.de</a></p>
        </div>
    </div>
</div>