<div class="content container mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-5">{{title}}</h1>
        </div>
        <div class="col-12 mx-auto">
            <form action="/signin" method="post">
                {{> signin/form-fields}}

                <div class="form-row">
                    <div class="col-auto mt-5">
                        <button type="submit" class="btn btn-block btn-lg btn-primary">{{__ "Sign in"}}!</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>